tap "homebrew/bundle"
tap "homebrew/services"

# Terminal code review (tuicr)
tap "agavra/tap", trusted: { formulae: ["tuicr"] }

# Git and Github
brew "git"
brew "git-lfs"
brew "git-delta"
brew "gh"

# Terminal Applications
brew "helix"
brew "yazi"
brew "zellij"
brew "scooter"
brew "lazygit"
brew "eza"
brew "fish"
brew "tuicr"
brew "zoxide"

# Language servers and formatters
brew "pyright"
brew "ruff"
brew "pyrefly"
brew "dprint"
brew "marksman"
brew "typos-lsp"

# Casks only installed on personal machines
{{ if not .isWorkMachine -}}
cask "ghostty"
cask "aerospace"
{{ end -}}

